{% extends "base.html" %}

{% block content %}

    <!-- About Section --> 
    <br><br>
    <div class="headding" style="margin-top: 50px; font-size: 350%; text-align: center;"> <br>
      <div id="center">
          <h1>About Us</h1>
      </div>
    </div>

    <div class="responsive" id="about">
      <div class="w3-col m6 w3-padding-large w3-hide-small">
       <img src="/static/aboutus.jpg" alt="Table Setting" width="650" height="520" style="padding-top: 25px; margin-left: 6%;">
      </div>
    </div> 
<br> <br><br><br><br><br><br>
      <div  class="tex" id="about">
        <h1 style="margin-top: auto; margin-bottom: 25px; margin: -5%; margin-right: 8%;  letter-spacing: 1px; font-style: italic;">Little Minds,Big Adventures:Where Learning Begins With Fun :) </h1>
      </div>  
      <div  class="dis" id="about">
        <p style="margin-top: 30px; margin-right: 10%;">
            "Welcome To The Smart Child Preschool, &nbsp;
            Where Little Minds Bloom Into Big Thinkers! Our Caring Team Is Devoted To Cultivating Curiosity And 
            Growth In A Safe And Interactive Environment. Through Creative Exploration And A Commitment To 
            Early Childhood Education, We Aim To Ignite A Lifelong Love Of Learning, Preparing Our Young Learners For 
            A Future Full Of Possibilities." 
        </p> 
        
        <p style="margin-top: 35px; margin-right: 10%;">
            We're A Team Dedicated To Nurturing Young Minds Through Fun, Creative Learning Experiences In A 
            Safe And Caring Environment. We're Passionate About Helping Children Grow, Learn, And Thrive In 
            Their Early Years!"
        </p> <br> <br><br> 
      </div>       

    <style> 
        
            body {font-family: "Times New Roman", Georgia, Serif;}
            h1, h2, h3, h4, h5, h6 {
              font-family: 'Poppins', sans-serif;
              letter-spacing: 5px;
            }

            .responsive {
                padding-top: 25px;
                float: left;
                width: 60%;
              
              }
              hr{
                align: center;
                margin-left:25%;
              }

              .tex{
                text-align: auto;
                padding-top: 25px;
                padding: 20px;
                margin-left: 575px;
                color: #000000;
                font-weight: solid;
                font-size: 130%;
                letter-spacing: 00px;
                font-family: 'Poppins', sans-serif;
              }


              .dis{
                text-align: auto;
                padding-top: 1px;
                margin-left: 600px;
                color: #ec9a27;
                font-weight: solid;
                font-size: 150%;
                letter-spacing: 1px;
                font-family: 'Poppins', sans-serif;
              }

              footer{
                align: center;
                margin-left: auto;
                margin-right: auto;
              }
            
    </style>

  {% endblock content %}