<<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>TimeTable</title>
        <link href="/static/css/dash_styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">The Smart Child</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
           
            <!-- Navbar-->
            
        </nav>
        {% include "admin_sidebar.html" %}
            <div id="layoutSidenav_content">
                <main>
    <div>
             {%if messages%}
        {%for i in messages%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{i}}
        </div>
        {%endfor%}
    </div>
    {%endif%}
   
        <div class="container p-5" >
    <h1 style="text-align: center; margin-bottom: 25px;">Admin Details</h1>
    
    <div class='card p-3 col-6 mr-4' style="margin-left: 25%; margin-top: 50px;">
        <form method="post" style="align-content: center;">
            {% csrf_token %}
            <div class="form-group" style="font-size: large;">
                <label for="username"><b>Username:</b></label>
                <input type="text" class="form-control" id="username" name="username" value="{{ superuser.username }}" style="font-size: large;" readonly>
            </div>
            <div class="form-group" style="font-size: large;">
                <label for="email"><b>Email:</b></label>
                <input type="email" class="form-control" id="email" name="email" value="{{ superuser.email }}" style="font-size: large;" readonly>
            </div>
            <div class="form-group" style="font-size: large;">
                <label for="first_name" ><b>First Name:</b></label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ superuser.first_name }}" style="font-size: large;" readonly>
            </div>
            <div class="form-group" style="font-size: large;">
                <label for="last_name"><b>Last Name:</b></label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ superuser.last_name }}" style="font-size: large; " readonly>
            </div>
            <a href="{% url 'change_password_s'%}"  class='btn btn-outline-secondary'> Change Password </a>
        </form>
    </div>
    
    </main>
    </div>
    <!-- Add more fields as needed -->
</body>
</html>
