<html>
 <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href="/static/css/dash_styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    
<body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{% url "teacher_dash"%}">The Smart Child</a>
            <!-- Sidebar Toggle-->
            
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
             <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
               
            <div>
                 <a href='/' class='btn btn-outline-light'>Logout</a>
                </div>
            <!-- Navbar-->
            </form>
            <!-- Navbar-->
            
        </nav>

<div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Teacher Side</div>
                            <a class="nav-link" href="{%url 'teacher_dash'%}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                           
                            
                            
                            
                              <div class="sb-sidenav-menu-heading">Addons</div>

                                <a class="nav-link" href="{% url 'attendance'%}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                    Manage Attendance
                                </a>

                                    <a class="nav-link" href="{% url 'teacher_add_marks'%}">
                                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                        Manage Marks
                                    </a>

                                     <a class="nav-link" href="{% url 'add_ptm'%}">
                                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                        Manage PTM
                                    </a>

                                    <a class="nav-link" href="{% url 'teacher_view_details'%}">
                                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                        View Detail
                                    </a>


                                    
                        </div>
                    </div>
                </nav>

            </div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/static/js/dassh_scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="assets/demo/chart-pie-demo.js"></script>        
</body>
</html>